<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">

<f:if condition="{encryptionKeyMissing}">
    <div class="callout callout-danger">
        <div class="callout-title">
            <f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:warning.encryptionKeyMissing.title" />
        </div>
        <div class="callout-body">
            <f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:warning.encryptionKeyMissing.body" />
        </div>
    </div>
</f:if>

<div class="mb-3">
    <a href="{listUrl}" class="btn btn-default btn-sm">
        <core:icon identifier="actions-view-go-back" size="small" />
        <f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:button.backToList" />
    </a>
</div>

<form action="{saveUrl}" method="post" id="azureConfigForm" name="azureConfigForm">

    <f:if condition="{otherConfigs}">
        <input type="hidden" id="cloneSecretFromUid" name="data[cloneSecretFromUid]" value="0" />
        <div class="form-section mb-4">
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" for="cloneSource">
                    <f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.cloneFromOther" />
                </label>
                <div class="col-sm-9">
                    <select class="form-control" id="cloneSource"
                            data-clone-confirm-title="{f:translate(key: 'LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:confirm.clone.title')}"
                            data-clone-confirm-button="{f:translate(key: 'LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:confirm.clone.button')}"
                            data-clone-cancel-button="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.cancel')}"
                            data-clone-label-tenant="{f:translate(key: 'LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.tenantId')}"
                            data-clone-label-client="{f:translate(key: 'LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.clientId')}"
                            data-clone-label-secret="{f:translate(key: 'LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.clientSecret')}"
                            data-clone-label-redirect="{f:translate(key: 'LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.redirectUriBackend')}"
                            data-clone-redirect-note="{f:translate(key: 'LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:confirm.clone.redirectNoteBackend')}"
                            data-clone-secret-cloned="{f:translate(key: 'LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.clientSecret.cloned')}">
                        <option value=""><f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.cloneFromOther.placeholder" /></option>
                        <f:for each="{otherConfigs}" as="cfg">
                            <option value="{cfg.uid}"
                                    data-tenant-id="{cfg.tenantId}"
                                    data-client-id="{cfg.clientId}"
                                    data-has-secret="{f:if(condition: '{cfg.hasSecret}', then: '1', else: '0')}"
                                    data-redirect-uri="{cfg.redirectUriBackend}">
                                <f:if condition="{cfg.backendLoginLabel}">
                                    <f:then>{cfg.backendLoginLabel} ({cfg.tenantId})</f:then>
                                    <f:else>{cfg.tenantId}</f:else>
                                </f:if>
                            </option>
                        </f:for>
                    </select>
                    <div class="form-text">
                        <f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.cloneFromOther.description" />
                    </div>
                </div>
            </div>
        </div>
    </f:if>

    <div class="form-section">
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label" for="enabled">
                <f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.enabled" />
            </label>
            <div class="col-sm-9">
                <input type="hidden" name="data[enabled]" value="0" />
                <div class="form-check form-switch mt-2">
                    <input type="checkbox" class="form-check-input" id="enabled" name="data[enabled]"
                           value="1" {f:if(condition: '{config.enabled}', then: 'checked="checked"')} />
                </div>
                <div class="form-text">
                    <f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.enabled.description" />
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label" for="backendLoginLabel">
                <f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.backendLoginLabel" /> *
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="backendLoginLabel" name="data[backendLoginLabel]"
                       value="{config.backendLoginLabel}" placeholder="Company Name" required="required" />
                <div class="form-text">
                    <f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.backendLoginLabel.description" />
                </div>
                <input type="hidden" name="data[showLabel]" value="0" />
                <div class="form-check form-switch mt-2">
                    <input type="checkbox" class="form-check-input" id="showLabel" name="data[showLabel]"
                           value="1" {f:if(condition: '{config.showLabel}', then: 'checked="checked"')} />
                    <label class="form-check-label" for="showLabel">
                        <f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.showLabel" />
                    </label>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label" for="tenantId">
                <f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.tenantId" />
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="tenantId" name="data[tenantId]"
                       value="{config.tenantId}" placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" />
                <div class="form-text">
                    <f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.tenantId.description" />
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label" for="clientId">
                <f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.clientId" />
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="clientId" name="data[clientId]"
                       value="{config.clientId}" placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" />
                <div class="form-text">
                    <f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.clientId.description" />
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label" for="clientSecret">
                <f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.clientSecret" />
            </label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="clientSecret" name="data[clientSecret]"
                       value="" autocomplete="new-password" />
                <div class="form-text">
                    <f:if condition="{hasExistingSecret}">
                        <f:then>
                            <span class="text-success">
                                <core:icon identifier="actions-check" size="small" />
                                <f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.clientSecret.existing" />
                            </span>
                        </f:then>
                        <f:else>
                            <f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.clientSecret.description" />
                        </f:else>
                    </f:if>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label" for="redirectUriBackend">
                <f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.redirectUriBackend" />
            </label>
            <div class="col-sm-9">
                <input type="url" class="form-control" id="redirectUriBackend" name="data[redirectUriBackend]"
                       value="{config.redirectUriBackend}" placeholder="https://example.com/typo3/index.php?route=/azure-login/callback" />
                <div class="form-text">
                    <f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:label.redirectUriBackend.description" />
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <button type="submit" class="btn btn-primary">
            <core:icon identifier="actions-document-save" size="small" />
            <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:rm.saveDoc" />
        </button>
        <a href="{listUrl}" class="btn btn-default ms-2">
            <core:icon identifier="actions-view-go-back" size="small" />
            <f:translate key="LLL:EXT:ok_azure_login/Resources/Private/Language/locallang_be_module.xlf:button.backToList" />
        </a>
    </div>

</form>

</f:section>

</html>
